.container {
  min-height: 100vh;
  background-color: var(--smoky-black);
}

.w-comb {
  clip-path: polygon(0 25%,
      50% 0,
      100% 25%,
      100% 75%,
      50% 100%,
      0 75%);
}

.list {
  padding-top: 50px;
}

.list>:nth-child(even) {
  margin-top: -58px;
  margin-left: 100px;
}

.list>:nth-child(odd) {
  margin-top: -58px;
}